* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: #b4161b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  position: relative;
}
.input-text {
  width: 20rem;
  height: 5rem;
  border-radius: 5rem;
  border: none;
  outline: none;
}
