body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}

#clickMe {
  color: white;
  background-color: rebeccapurple;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}

#reset {
  color: white;
  background-color: yellowgreen;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
}
