.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

button {
  color: white;
  background-color: rgba(184, 51, 51, 0.6);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.imageContainer {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.imageContainer img {
  margin-bottom: 20px;
}
